{% extends 'app.html' %}

{% block title %}
Recruiter Profile
{% endblock %}

{% block sidebar %}
{% include 'recruiter/sidebar.html' %}
{% endblock %}


{% block content %}
<section class="section" unicorn:view>
  
    <div class="section-body">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h4>Applied Candidates</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-striped" id="table-2">
                    <thead>
                      <tr>
                        <th class="text-center pt-3">
                          <div class="custom-checkbox custom-checkbox-table custom-control">
                            <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad"
                              class="custom-control-input" id="checkbox-all">
                            <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
                          </div>
                        </th>
                        <th>Name</th>
                        <th>Qualification</th>
                        <th>Experience</th>
                        <th>Certification</th>
                        <th>Location</th>
                        <th>More</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-center pt-2">
                          <div class="custom-checkbox custom-control">
                            <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input"
                              id="checkbox-1">
                            <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
                          </div>
                        </td>

                        <td>Gokul Raj</td>

                        <td>BCA</td>
                        
                        <td>0</td>

                        <td>Web designer</td>

                        <td>
                          Kochi
                        </td>

                        <td><a href="#" class="btn btn-primary">Detail</a></td>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

</section>

{% endblock %}
