{% extends 'app.html' %}

{% block title %}
Recruiter Profile
{% endblock %}

{% block sidebar %}
{% include 'recruiter/sidebar.html' %}
{% endblock %}

{% block styles %}
    <!-- custom datepicker and timepicker -->
    <!-- flatpickr datepicker  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

{% endblock %}



{% block content %}
<section class="section" unicorn:view>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card">

                <form>
                    <div class="card-header">
                        <h4>Schedule Test</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Select Job Category</label>
                            <select unicorn:model.defer="job_category_id" name="" id="" class="form-control">
                                <option value="" selected disabled>Select</option>
                                {% for x in job %}
                                <option value="{{ x.jobs_id }}">{{ x.job_title }}</option>
                                {% endfor%}
                                
                            </select>

                            {% for message in messages  %}
                    
                            {% comment %} case-1 {% endcomment %}
                            {% if message.tags == 'job_category_id error' %}
        
                            <span style="color:red;">{{ message }}
                            </span>
                            {% endif %}
        
                            {% endfor %}
                        </div>
                        
                        <div class="form-group">
                            <label> Test Date</label>
                            <input unicorn:model.defer="date" type="date" id="date_validator" class="form-control {% if unicorn.errors.company_name %} is-invalid {% endif %}" required="">
                            
                            {% for message in messages  %}
                    
                            {% comment %} case-1 {% endcomment %}
                            {% if message.tags == 'date error' %}
        
                            <span style="color:red;">{{ message }}
                            </span>
                            {% endif %}
        
                            {% endfor %}


                            <div class="invalid-feedback">
                                {{ unicorn.errors.company_name.0.message }}
                            </div>
                        </div>
                        {% comment %} <div class="form-group">
                            <label>Time</label>
                            <input unicorn:model.defer="time" type="Time" id="time_validator" class="form-control {% if unicorn.errors.company_name %} is-invalid {% endif %}" required="">
                            <div class="invalid-feedback">
                                {{ unicorn.errors.company_name.0.message }}
                            </div>
                        </div> {% endcomment %}
                        <div class="form-group">
                            <label>Descripiton</label>
                            <textarea unicorn:model.defer="descripiton" class="form-control {% if unicorn.errors.description %} is-invalid {% endif %}" required=""></textarea>
                            
                            {% for message in messages  %}
                    
                            {% comment %} case-1 {% endcomment %}
                            {% if message.tags == 'descripiton error' %}
        
                            <span style="color:red;">{{ message }}
                            </span>
                            {% endif %}
        
                            {% endfor %}
                            
                            <div class="invalid-feedback">
                                {{ unicorn.errors.description.0.message }}
                            </div>
                        </div>
                        
                        {% comment %} <div class="form-group">
                            <label>Phone Number</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">+91</span>
                                </div>
                            <input unicorn:model.defer="profile.phonenumber" type="text" class="form-control {% if unicorn.errors.phonenumber %} is-invalid {% endif %}">
                            <div class="invalid-feedback">
                                {{ unicorn.errors.phonenumber.0.message }}
                            </div>
                            </div>
                        </div>
                        <div class="form-group mb-0">
                            <label>Address</label>
                            <textarea  unicorn:model.defer="profile.address" class="form-control {% if unicorn.errors.address %} is-invalid {% endif %}" required=""></textarea>
                            <div class="invalid-feedback">
                                {{ unicorn.errors.address.0.message }}
                            </div>
                        </div>
                    </div> {% endcomment %}
                    <div class="card-footer text-right">
                        <button class="btn btn-primary" unicorn:click.prevent="save()">Schedule</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}
<!-- datepicker 1  --> 
<script>
   
        //enableTime: true,
        //altInput: true,
        //minDate: "today",
        //altFormat: 'F j, Y (h:S K)',
        //theme: "material_blue", 

    {% comment %} flatpickr("#date_validator", {
        altInput: true,
        minDate: "today",
        //altFormat: 'Y F j',
    }); {% endcomment %}

    {% comment %} flatpickr("#time_validator", {
        enableTime: true,
        noCalendar: true,
        dateFormat: "h:S K",
        //minTime: new Date()
        //defaultDate: "13:45"
    }); {% endcomment %}

    
</script>

{% endblock %}
