{% extends 'app.html' %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block sidebar %}
{% include 'hr_admin/sidebar.html' %}
{% endblock %}


{% block content %}

<section class="section">
    

    <div class="section-body">

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h4>Questions List
                  <a href="{% url 'admin.add_questions' %}" style="margin-left: 10px;" class="btn btn-primary">Add
                    <i style="margin-left: 15px;" class="fas fa-plus"></i>
                  </a>
                </h4>
                <div class="card-header-form">
                  <!-- Search form -->
                  <form method="post" action="{% url 'admin.view_questions' %}">
                    {% csrf_token %}
                  <div class="input-group">
                    <input style="{% if required %} border:1px solid red; {% endif %}" type="text" value="{{ search_key }}" class="form-control" name="search_key" placeholder="Search">
                    <div class="input-group-btn">
                      <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </form>
                {% if required %}
                <label for="" style="margin-left: 15px;color:  red;"> Search Key Required</label>
                {% endif %}
                  </div>

              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-striped" id="table-2">
                    <thead>
                      <tr>
                        <!-- <th class="text-center pt-3">
                          <div class="custom-checkbox custom-checkbox-table custom-control">
                            <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad"
                              class="custom-control-input" id="checkbox-all">
                            <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
                          </div>
                        </th> -->
                        <th>Tech name</th>
                        <th>Question</th>
                        <th>Answer</th>
                        <th>Mark</th>
                        <th>More</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                        
                        {% for x in test_questions_db %}
                      <tr>
                        <!-- <td class="text-center pt-2">
                          <div class="custom-checkbox custom-control">
                            <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input"
                              id="checkbox-1">
                            <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
                          </div>
                        </td> -->

                        <td>{{x.technology_id.tech_name}}</td>
                        <td>{{x.question}} </td>
                        <td>{{x.answer}} </td>
                        <td>{{x.technology_id.question_mark}}</td>
                       
                        <td><a href="{% url 'admin.update_questions' x.id %}" class="btn btn-primary">Edit</a></td>
                        <!-- <td><a href="#" class="btn btn-primary">Delete</a></td> -->
                      </tr>

                      {% endfor %}
                      
                    </tbody>
                  </table>
                </div>
              </div>

              {% if not_found %}
              <label for="" style="text-align: center !important;">Not Found</label><br>
              {% endif %}
            </div>
          </div>
        </div>
      </div>


</section>

{% endblock %}
